* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100svw;
    display: flex;
    justify-content: space-between;
    background-color: rgba(3, 16, 255, 0.501);
    padding: 1rem;
    align-items: center;
}

.navbar .logo {
    display: flex;
    text-decoration: none;
}

.navbar .navigation {
    display: flex;
}

.navbar .navigation a {
    padding: 10px;
    text-decoration: none;
}

.navbar .navigation a li {
    list-style-type: none;
}

.hero img {
    width: 500px;
    height: 500px;;
    flex-direction: row-reverse;
}